@media screen and (max-width: 1600px){
    .pharmamedgrid{
        grid-template-columns: repeat(3,1fr) !important;
    }
}


@media screen and (max-width: 1250px){
    .pharmamedgrid{
        grid-template-columns: repeat(2,1fr) !important;
    }
}


@media screen and (max-width:800px){
    .pharmacardprice{
        flex-direction: column !important;
    }
}


@media screen and (max-width: 580px){
    .pharmamedgrid{
        grid-template-columns: repeat(1,1fr) !important;
    }

    .pharmacardprice{
        flex-direction: row !important;
    }
}

@media screen and (max-width: 385px){
    .pharmacardprice{
        flex-direction: column !important;
        gap: 10px;
    }
}


@media screen and (max-width:1570px){
    .singleimg{
        width: 40% !important;
    }
}


@media screen and (max-width:1242px){
    .singleimg{
        width: 50% !important;
    }
}

@media screen and (max-width:650px){
    .singleimg{
        width: 100% !important;
    }
}


@media screen and (max-width:1174px){
    .singlecontainerpharma{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .pharmadescription{
        width: 90% !important;
    }
}
